footer {
    width: 1920px;
    height: 190px;
}
.footer__container {
    width: 1820px;
    height: 190px;
    background-color: #fff;
    margin: 0 auto;
}
.footer__inner {
    display: flex;
    padding-top: 50px;
}
.footer__logo {
    background-image: url(../images/footer__logo.png);
    width: 241px;
    height: 60px;
}
.footer__desc {
    font-size: 16px;
    color: #646464;
    margin-left: 45px;
}
.copy {
    color: #9999;
    font-size: 14px;
}
.footer__box {
    margin-left: 500px;
    margin-top: -10px;
}
.pri {
    width: 150px;
    height: 40px;
    background-color: #999;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cont {
    width: 150px;
    height: 40px;
    background-color: #56a1d5;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
br.pc {
    display: block;
}
br.mo {
    display: none;
}
@media (max-width: 1280px) {
    br.pc {
        display: none;
    }
    br.mo {
        display: block;
    }
    footer {
        width: 100%;
    }
    .footer__container {
        width: 100%;
        position: relative;
    }
    .footer__inner {
        display: block;
        position: absolute;
        left: 50px;
        top: 0;
    }
    .footer__desc {
        padding-top: 42px;
        margin-left: 5px;
        font-size: 13px;
        /* line-height: 2; */
    }
    .footer__box {
        width: 360px;
        margin-left: 5px;
        display: flex;
        padding-top: 43px;
        padding-bottom: 32px;
    }
    .pri {
        margin: 10px 10px;
    }
    .line {
        width: 100%;
    }
}
@media (max-width: 360px) {
    .line {
        width: 360px;
    }
    br.pc {
        display: none;
    }
    br.mo {
        display: block;
    }
    footer {
        width: 360px;
    }
    .footer__container {
        width: 360px;
        margin-left: -25px;
    }
    .footer__inner {
        display: block;
    }
    .footer__desc {
        padding-top: 42px;
        font-size: 13px;
        line-height: 2;
    }
    .footer__box {
        width: 360px;
        display: flex;
        padding-top: 43px;
        padding-bottom: 32px;
    }
    .pri {
        margin: 10px 10px;
    }
}
