table {
    border-collapse: collapse;
}
tr {
    font-weight: bold;
}
main {
    width: 1920px;
    height: 2700px;
}
.pria {
    color: #fff;
}
.main__container {
    width: 1359px;
    height: auto;
    background-color: #fff;
    margin: 0 auto;
}
.desc {
    width: 1359px;
    height: 804px;
    background-color: #fff;
    display: flex;
}
.main__img {
    margin-top: 162px;
    background-image: url(../images/main__img.png);
    width: 640px;
    height: 611px;
    background-size: cover;
    background-repeat: no-repeat;
}
.main__desc {
}
h1 {
    font-size: 30px;
    margin-top: 162px;
    margin-bottom: 47px;
}
.main__logo {
    display: flex;
}
.main__p {
    line-height: 1.5;
}
.logo__img2 {
    margin-top: 47px;
    margin-right: 48px;
}
.logo__img1 {
    margin-top: 47px;
}
h3 {
    margin-top: 20px;
}
.img__inner {
    margin-top: 11px;
    margin-left: 20px;
}
.main__tap {
    display: flex;
    margin-top: 83px;
}
.brochure,
.Tech,
.lineup {
    width: 184px;
    height: 54px;
    border: 1px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 12px;
}
.main__tap div:last-child {
    margin-right: 0;
}
span {
    font-size: 15px;
}
.line {
    width: 1920px;
    height: 1px;
    background-color: #333;
}
.main__container2 {
    width: 1200px;
    height: auto;
    margin: 0 auto;
    margin-top: 100px;
}
.header__line {
    width: 64px;
    height: 1px;
    background-color: #999999;
    position: absolute;
    left: 300px;
    top: 250px;
}
.hh4 {
    position: absolute;
    left: 322px;
    top: 100px;
}
.title {
    font-size: 24px;
    font-weight: bold;
    color: #333333;
    margin-bottom: 26px;
}
@media (max-width: 1280px) {
    main {
        width: 100%;
        height: 3000px;
    }
    .main__container {
        width: 1280px;
    }
    .desc {
        display: block;
    }
    .main__img {
        width: 600px;
        height: 700px;
        margin-top: 10px;
        margin-left: -100px;
    }
    .main__desc {
        position: relative;
    }
    h1 {
        margin-top: 0;
        padding-left: 15px;
    }
    .main__p {
        line-height: 0;
        font-size: 17px;
        color: #333333;
        padding-left: 15px;
        font-weight: bold;
        font-family: NotoSansKR;
    }
    .main__logo1 {
        width: 120px;
        height: 220px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .main__logo2 {
        width: 100px;
        height: 220px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .logo__img2 {
        margin-left: 45px;
    }
    h3 {
        text-align: center;
    }
    .img__inner {
        margin-right: 20px;
    }
    .main__container2 {
        width: 100%;
        padding-top: 350px;
    }
    .title {
        margin-left: -60px;
    }
    table {
        width: 800px;
        height: 200px;
        margin-left: -70px;
    }
    tr {
        height: 40px;
        font-size: 12px;
        font-weight: bold;
    }
    .line {
        width: 100%;
    }
    .main__tap {
        margin-top: 30px;
    }
}
@media (max-width: 360px) {
    .header__bg {
        width: 360px;
        position: relative;
    }
    img {
        width: 360px;
        height: 300px;
    }
    .header__line {
        position: absolute;
        left: 15px;
        bottom: 0;
        width: 56px;
    }
    .hh4 {
        position: absolute;
        left: 30px;
        bottom: 0;
        font-size: 18px;
    }
    main {
        width: 360px;
    }
    .desc {
        display: block;
    }
    .main__img {
        width: 360px;
        height: 357px;
        margin-top: -150px;
        margin-left: -10px;
    }
    h1 {
        margin-top: 0;
        padding-left: 15px;
    }
    .main__p {
        /* line-height: 1; */
        font-size: 17px;
        color: #333333;
        font-weight: normal;
        font-family: NotoSansKR;
    }
    .main__p1 {
        font-size: 17px;
        color: #333333;
        font-weight: normal;
        font-family: NotoSansKR;
        padding-left: 15px;
    }
    .logo__img2 {
        width: 70px;
        height: 70px;
        padding-left: 15px;
        margin-top: 8px;
    }
    .logo__img1 {
        width: 70px;
        height: 70px;
        padding-left: 15px;
        margin-top: 8px;
    }
    .main__tap {
        width: 100%;
        padding-left: 15px;
        margin-top: 20px;
    }
    .brochure,
    .Tech,
    .lineup {
        font-size: 16px;
        width: 103px;
        height: 40px;
    }
    h3 {
        font-size: 17px;
    }
    .img__inner {
        font-size: 17px;
        padding-left: 20px;
        margin-top: 0;
    }
    .title {
        margin-left: -60px;
        margin-top: -60px;
    }
    table {
        width: 360px;
        margin-left: -60px;
    }
    tr {
        height: 40px;
        font-size: 12px;
        font-weight: bold;
    }
    .line {
        width: 100%;
    }
}
